{% extends "layout.html" %}

{% block title %}
    Planner
{% endblock %}

{% block main %}

<h1 class="mb-3"> Grocery list 🛒</h1>
<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>Ingredients</th>
            <th>Quantity</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        {% for item in grocery_list %}
        <tr>
            <td> {{ item.ingredient_name }}</td>
            <td> {{ item.quantity }}</td>
            <td> {{ item.unit }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">No ingredients found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action ="/planner", method="POST">
    <button type="submit" class="btn btn-primary">Delete grocery list</button>
</form>


{% endblock %}

