{% extends "layout.html" %}

{% block title %}
    Recipe
{% endblock %}

{% block main %}
<h1>Recipes 🍽️</h1>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>Meal</th>
            <th>Servings</th>
            <th>Ingredients</th>
            <th>Quantity</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        {% if recipe_data|length > 0 %}
            {% for meal_name, meal_info in recipe_data.items() %}
                {% for ingredient in meal_info['ingredients'] %}
                        <tr>
                            {% if loop.first %}
                                <td rowspan="{{ meal_info['ingredients']|length }}">{{ meal_name }}</td>
                                <td rowspan="{{ meal_info['ingredients']|length }}">{{ meal_info['servings'] }}</td>
                            {% endif %}
                            <td>{{ ingredient['ingredient_name'] }}</td>
                            <td>{{ ingredient['quantity'] }}</td>
                            <td>{{ ingredient['unit'] }}</td>
                        </tr>
                    {% endfor %}
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">No recipies found.</td>
        </tr>
        {% endif %}
    </tbody>
</table>

<form action ="/recipe", method="POST">
    <button type="submit" class="btn btn-primary">Delete weekly recipes</button>
</form>

{% endblock %}
